<% title("Home Page") %>
<h1><i class="fa fa-home"></i> Home Page </h1>
<p>Pinterest like App for ZANEC interview</p>
<h4>Login details</h4>
<p>Username : admin, user1, user2,......,user50</p>
<p>Password for test accounts: 1234</p>