<% title("New Pin") %>
<h2>Welcome</h2>
<h4>Add New Pin</h4>
<%= form_tag(url_for({action: "create", controller: "pins"}), multipart: true) do %>
	<div class="form-group">
		<label>Name</label>
		<%= text_field_tag :name, params[:name], placeholder: "Name", required: true, class: "form-control" %>
	</div>
	<div class="form-group">
		<label>Description</label>
		<%= text_area_tag :description, params[:description], placeholder: "Describe about your pin here...", required: true, class: "form-control" %>
	</div>
	<div class="form-group">
		<label>Upload a image</label>
		<%= file_field_tag :pin, placeholder: "Choose a image file", class: "form-control" %>
	</div>
	<%= submit_tag "Add Pin", class: "btn btn-primary" %>
<% end %>
<br />
<div class="row">
	<h3>My Pins</h3>
	<% @pins.each do |pin| %>
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<%= image_tag pin.pin.url(:medium) %>
				<div class="caption">
					<h3><%= pin.name %></h3>
					<p><%= pin.description[0..50] %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>