<div class="row">
	<div class="col-sm-6 col-md-4" ng-repeat="pin in data">
		<div class="thumbnail">
			<img ng-src={{pin.murl}} />
			<div class="caption">
				<h3 ng-bind="pin.name"></h3>
				<p ng-bind="pin.description"></p>
				<p>
					<a ng-click="makeFavourite(pin.id)" class="btn btn-success" ng-hide="pin.favourite">Favourite</a>
					<a ng-click="makeUnfavourite(pin.id)" class="btn btn-warning" ng-show="pin.favourite"> Un Favourite</a>
				</p>
			</div>
		</div>
	</div>
</div>